@charset "UTF-8";
* {
    box-sizing: border-box;
    font-family: 'Chakra Petch', bold;
    font-size: 14px;
}
body {
    background-color: rgb(255, 243, 252);
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.topTittle{
    width: 1438px;
    height: 33px;
    padding-left: 15px;
    line-height: 33px;
    display: block;
    background: linear-gradient(to right, rgb(65, 128, 246) 0%, rgb(247, 201, 243) 100%);
    box-shadow: 0 1px 0 0 #110038;
    color: white;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
    height: 110px;
    width: 1200px;
}
nav{
    width: auto;
}
nav ul {
    list-style-type: none;
    display: flex;
    align-content: flex-end;
    justify-content: center;
    flex-direction: row;
}

.logoGifos {
    width: 90px;
    height: 48px;
}
.nav-link{
    text-decoration: none;
    width: 144px;
    height: 36px;
    margin: 0px 0px 0px 15px;
    padding: 0px;
    line-height: 36px;
    text-align: center;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.boton-tema {
    width: 36px;
    height: 36;
}
.dropdown {
    width: 36px;
    height: 36px;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    display: flex;
    justify-content: center;
}
#dropdown-img {
    width: auto;
}
#dropdownCont {
    width: 170px;
    height: 102px;
    margin-top: 100px;
    padding: 5px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
#dropdownItem {
    width: 150px;
    height: 36px;
    padding: 7px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

label {
    height: 36px;
    display: flex;
    justify-content: center;
}

#toggle {
    display: none;
    width: 36px;
    height: 36px;
}
.menu {
    display: flex;
    align-items: center;
}

.misGuifos-link {
    width: auto;
    height: auto;
    margin-left: 20px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;

}

/*
nav li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#toggle:checked {
    display: block;
}
header>li:nth-child(2) {
    clear: both;
}*/ 
section{
    margin: 0 100px;
}
    
.searchBar {
    width: 1200px;
    height: auto;
    padding-top: 1px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
    .searchBar-cont{
        width: 1196px;
        height: 26px;
        line-height: 26px;
        margin: 2px;
        padding-left: 10px;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(to right, rgb(65, 128, 246) 0%, rgb(247, 201, 243) 100%);
        font-weight: bold;
        color: white;
    }
    .searchBarra {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .searchbar-buscar{
        width: 1057px;
        height: 48px;
        line-height: 18px;
        margin: 10px;
        padding-left: 15px;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    }
        .buscarBut{
            width: 102px;
            height: 36px;
            background: #E6E6E6;
            border: 1px solid #808080;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
    .searchResults {
        width: auto;
        height: 160px;
        padding-top: 5px;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        margin: auto;
        display: none;
    }
    #searchResultItem {
        width: 1057px;
        height: 36px;
        margin: 11px 0px 0px 20px;
        background: #F0F0F0;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    }
.suggest {
    width: 1200px;
    padding: 0px;
}
.suggest ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}
.suggest-searchbar{
    width: 1200px;
    height: 32px;
    margin-top: 60px;
    line-height: 32px;
    padding-left: 10px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}
.suggest-img{
    width: 288px;
    height: 314px;
    margin-bottom: 10px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background: #E6E6E6;
    padding: 4px 4px 0px 4px;
    }
    .img-tittle-container{
        width: 280px;
        height: 24px;
        line-height: 25px;
        margin: 0px 0px 2px 0px;
        padding: 0px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(to right, rgb(65, 128, 246) 0%, rgb(247, 201, 243) 100%);
    }
        .imgName {
            width: auto;
            height: auto;
            line-height: 20px;
            margin-left: 5px;
            color: white;
            font-weight: bold;
        }
        .imgX {
            width: 16px;
            height: 14px;
            margin-right: 3px;
            background-image: url(/images/close.svg);
            background-repeat: no-repeat;
        }
            .img-tittle-container a {
                text-decoration: none;
            }
        .gifFrame{
            width: 280px;
            height: 280px;
            display: flex;
            position: absolute;
            align-items: center;
        }
            .verMasButt  {
                width: 81px;
                height: 34px;
                margin: 10px;
                position: relative;
                top: 220px;
                background: #4180F6;
                border: 1px solid #4C2F99;
                color: white;
                box-shadow: inset -1px -1px 0 0 #284F99, inset 1px 1px 0 0 #FFFFFF;
            }
.longImg {
    width: 592px;
    height: 314px;
    margin-bottom: 10px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background: #E6E6E6;
    padding: 4px 4px 0px 4px;
}
.img-tittle-container-long{
    width: 584px;
    height: 24px;
    line-height: 25px;
    margin: 0px 0px 2px 0px;
    padding: 0px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(65, 128, 246) 0%, rgb(247, 201, 243) 100%);
}
.gifFrameLong{
    width: 584px;
    height: 280px;
    display: flex;
    position: absolute;
    align-items: center;
}