@charset "UTF-8";
* {
    box-sizing: border-box;
    font-family: 'Chakra Petch', bold;
    font-size: 14px;
}
button {
    cursor: pointer;
}

:root {
    --maingradient: linear-gradient(to right, rgb(65, 128, 246) 0%, rgb(247, 201, 243) 100%);
    --bgcolor: rgb(255, 243, 252);
    --butcolor: #F7C9F3;
    --buttext: #110038;
    --itemHover: #FFF4FD;
    --linkHover: #E6BBE2;
}
/* Aca comienza el código relacionado con JS */
@media (prefers-color-scheme: light) {
    :root {
     --maingradient: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
     --bgcolor:  #0e0336;
     --butcolor: #EE3EFE;
     --buttext: rgb(255, 255, 255);
     --itemHover: #2E32FB;
     --linkHover: rgb(216, 55, 231);
    }
   }

body {
    background-color: var(--bgcolor);
    margin: 0px auto;
    display: flex;
}
main{
    width: auto;
}
.topTittle{
    max-width: 100%;
    height: 33px;
    padding-left: 15px;
    line-height: 33px;
    display: block;
    background: var(--maingradient);
    box-shadow: 0 1px 0 0 #110038;
    color: white;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    height: 110px;
    width: 1200px;
}
#logoGifos {
    width: 90px;
    height: 48px;
}
.menu {
    display: flex;   
}
.dropdown{
    display: flex;
}
.nav-link{
    height: 36px;
    text-decoration: none;
    margin-left: 15px;
    padding: 0px 22px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    color: var(--buttext);
    display: flex;
    flex-direction: row;
    background: var(--butcolor);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.dropdown-img {
    width: 36px;
    height: 36px;
    padding: auto;
    text-align: center;
    line-height: 30px;
    background: var(--butcolor);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0  #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.dropdown-menu {
    height: 102px;
    margin-left: 14px;
    background: #E6E6E6;
    display: none;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    position: absolute;
    transform: translateY(36px);
    z-index: 1;
}
#dropdown-Item {
    width: 150px;
    height: 36px;
    margin: 10px 10px 0px 10px;
    background: #F0F0F0;
    border: 1px solid #808080;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
#dropdown-Item:hover {
    background: var(--itemHover);
    color: var(--buttext);
}
.nav-link:hover{
    background: var(--linkHover);
    border: 1px solid #110038;
    color: var(--buttext);
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.dropdown:hover .dropdown-menu{
    display: block;
    color: var(--buttext);
}
.dropdown-img:hover{
    background: var(--linkHover);
    color: var(--buttext);
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
.misGuifos-link:hover{
    color: #706783;
}

#dropHid {
    width: 150px;
    height: 36px;
    margin: 10px 10px 0px 10px;
    background: #F0F0F0;
    border: 1px solid #808080;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: flex;
    visibility: hidden;
    justify-content: center;
    flex-wrap: nowrap;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}


.misGuifos {
    width: auto;
    height: auto;
    margin-left: 20px;
    color: var(--buttext);
    letter-spacing: 0;
    line-height: 36px;
    text-decoration: none;
}

section{
    margin: 0 auto;
}
button{
    cursor: pointer;
}
.searchBar {
    max-width: 1200px;
    height: auto;
    padding-top: 1px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
    .searchBar-cont{
        width: 1196px;
        height: 26px;
        line-height: 26px;
        margin: 2px;
        padding-left: 10px;
        align-items: center;
        justify-content: space-between;
        background: var(--maingradient);
        font-weight: bold;
        color: white;
    }
    .searchBarra {
        height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    #searchbar-buscar{
        width: 1057px;
        height: 48px;
        line-height: 18px;
        margin: 10px;
        padding-left: 15px;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    }
    #searchbar-buscar:enabled{
        color: blueviolet;
    }
        #buscarBut{
            width: 102px;
            height: 36px;
            background: #E6E6E6;
            border: 1px solid #808080;
            display: flex;
            color: #B4B4B4;
            justify-content: space-around;
            box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
        }
        #buscarBut:hover{
            background: #F7C9F3;
            color: #000000;   
        }
        
    #searchResults {
        width: auto;
        height: 160px;
        padding-top: 5px;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
        margin: auto;
        display: none;
    }
    .searchResultItem {
        width: 1057px;
        height: 36px;
        margin: 11px 0px 0px 20px;
        padding: 0px 15px;
        display: block;
        text-decoration: none;
        background: #F0F0F0;
        font-size: 16px;
        color: #110038;
        line-height: 36px;
        border: 1px solid #808080;
        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    }
.suggest {
    width: 1200px;
    padding: 0px;
}
.suggest ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px;
}
.suggest-searchbar{
    width: 1200px;
    height: 32px;
    margin-top: 60px;
    line-height: 32px;
    padding-left: 10px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}
.suggest-imgt{
    width: 288px;
    height: 314px;
    margin-bottom: 10px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background: #E6E6E6;
    padding: 4px 4px 4px 4px;
    overflow: hidden;
    }
.suggest-img{
    width: 288px;
    height: 304px;
    display: flex;
    margin-bottom: 10px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background: #E6E6E6;
    padding: 4px 4px 4px 4px;
    z-index: 1;
    }
    .img-tittle-containert{
        width: 280px;
        height: 24px;
        line-height: 18px;
        margin: 0px 0px 2px 0px;
        padding: 0px;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        background: var(--maingradient);
    }
    .img-tittle-containert a {
        text-decoration: none;
    }
        .imgName {
            width: auto;
            height: auto;
            line-height: 20px;
            margin-left: 5px;
            color: white;
            font-weight: bold;
        }
        .imgNamet {
            width: auto;
            height: auto;
            line-height: 20px;
            margin-left: 5px;
            color: white;
            font-weight: bold;
        }
        #imgX {
            width: 16px;
            height: 14px;
            margin-right: 3px;
            background-repeat: no-repeat;
        }
        .gifTrend {
            min-width: 280px;
            height: 280px;
        }
        .gifCont{
            width: 280px;
            height: 296px;
            position: absolute;
            overflow: hidden;
        }
        .gifFra{
            min-width: 100%;
            min-height: 100%;
        }
        .img-title-container{
            width: 280px;
            height: 24px;
            line-height: 18px;
            padding: 0px;
            display: none;
            align-self: flex-end;
            z-index: 3;
            background: var(--maingradient);
        }
        .img-title-container a {
            text-decoration: none;
        }
        .titleOff{
            display: none;
        }
            .verMasButt  {
                width: 100px;
                height: 34px;
                margin: 10px;
                top: -60px;
                color: white;
                position: relative;
                background: #4180F6;
                border: 1px solid #4C2F99;
                box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
                
            }
            .verMasButt:hover{
                background: #3A72DB;
                border: 1px solid #4C2F99;
                box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
            }
        
.longImg {
    width: 592px;
    height: 304px;
    margin-bottom: 10px;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    background: #E6E6E6;
    padding: 4px 4px 4px 4px;
    display: flex;
    z-index: 1;
}

.img-title-container-long{
    width: 584px;
    height: 24px;
    line-height: 18px;
    align-self: flex-end;
    background: var(--maingradient);
    z-index: 3;
    display: none;
}
    .img-title-container-long a {
        text-decoration: none;
    }
.gifFrameLong{
    min-width: 100%;
    min-height: 100%;
}
.gifFrameLongCont{
    width: 584px;
    height: 296px;
    position: absolute;
    overflow: hidden;
}
#crear-guifos{
    width: 684px;
    height: 386px;
    padding-top: 2px;
    padding-left: 1px;
    padding-right: 1px;
    margin: 100px auto;
    display: block;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
    .crear-guifos-title{
        width: auto;
        height: 26px;
        line-height: 26px;
        margin: 2px;
        padding-left: 10px;
        align-items: center;
        justify-content: space-between;
        background: var(--maingradient);
        font-weight: bold;
        color: white;
    }
    .arti-text{
        width: 520px;
        margin: 30px auto;
    }
    article.arti-text p:nth-child(3){
        line-height: 26px;
    }
    #crear-guifos img{
        margin-top: 30px;
        margin-left: 25px;
        float: left;
    }
    #comenzar{
        width: 144px;
        height: 36px;
        text-decoration: none;
        color: #110038;
        font-size: 16px;
        float: right;
        text-align: center;
        line-height: 32px;
        margin-right: 16px;
        margin-top: 10px;
        cursor: pointer;
        background: #FFF4FD;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    }

    #comenzar:nth-last-child(2){
        margin-right: 36px;
    }
    #comenzar:hover{
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    }
    #cancel{
        width: 144px;
        height: 36px;
        text-decoration: none;
        color: #110038;
        font-size: 16px;
        float: right;
        text-align: center;
        line-height: 32px;
        margin-right: 16px;
        margin-top: 10px;
        cursor: pointer;
        background: #FFF4FD;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    }
    #cancel:hover{
        background: #F7C9F3;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    }
    #capture{
        width: 860px;
        height: 640px;
        padding: 4px;
        display: none;
        margin: 30px auto;
        background: #E6E6E6;
        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    }
        #capture-title{
            width: auto;
            height: 26px;
            line-height: 26px;
            margin: 2px;
            padding-left: 10px;
            align-items: center;
            justify-content: space-between;
            background: var(--maingradient);
            font-weight: bold;
            color: white;
        }
        #capture-video{
            width: 834px;
            height: 510px;
            margin: 8px;
            background: #FFFFFF;
            border: 1px solid #979797;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        }
        #preview {
            width: 834px;
            height: 510px;
            margin: 8px;
            background: #FFFFFF;
            border: 1px solid #979797;
            display: none;
            box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
        }
#capturar{
    width: 144px;
    height: 36px;
    text-decoration: none;
    color: #110038;
    font-size: 16px;
    float: right;
    text-align: center;
    line-height: 32px;
    margin-right: 16px;
    margin-top: 10px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
#capturar:hover{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
#upload, #repeat, #btn-stop, #copy, #download, #listo {
    width: 144px;
    height: 36px;
    display: none;
    text-decoration: none;
    color: #110038;
    font-size: 16px;
    float: right;
    text-align: center;
    line-height: 32px;
    margin-right: 16px;
    margin-top: 10px;
    background: #FFF4FD;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

#upload:hover, #repeat:hover, #btn-stop:hover, #copy:hover, #download:hover, #listo:hover{
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}
h2{
    margin: 10px;
}
.hideDrop{
    display: none;
}
#success{
    width: 721px;
    height: 391px;
    padding: 4px;
    display: none;
    margin: 30px auto;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
    #gifview{
        width: 365;
        max-height: 191px;
        margin: 12px;
        background: #FFFFFF;
        border: 1px solid #979797;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    }

/* Estos son los estilos del toggle exmple */

.toggle-button-label {
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 5px;
    font-size: 16px;
    cursor: pointer;
}
.toggle-button {
    display: none;
    width: 150px;
}

/* Estilos del progress bar 
body {
  justify-content: center;
  align-items: center;
  background: #000;
  display: flex;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 40px;
  width: 500px;
}

.progress-value {
  animation: load 3s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background: #fff;
  height: 30px;
  width: 0;
}

@keyframes load {
  0% { width: 0; }
  100% { width: 68%; }
}


*/
